@import url(reset.min.css);
@font-face {
    font-family: "HeliosCond";
    src: url("../fonts/HeliosCond.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Mark Simonson";
    src: url("../fonts/Mark Simonson-Proxima Nova Alt Light.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova Cond";
    src: url("../fonts/ProximaNovaCond-Reg.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Reg.otf");
    font-style: normal;
    font-weight: normal;
}
body{
	min-width: 900px;
}

.select-style {
    padding: 0;
    margin: 0;
    border: none;
    width: 135px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}
.select-style_arrow{
	background: url('../img/select_arrow.png') no-repeat 90% 50%;
}


.select-style select {
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}
.select-style2 {
    padding: 0;
    margin: 0;
    border: none;
    width: 90px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}
.select-style_arrow{
	background: url('../img/select_arrow.png') no-repeat 90% 50%;
}


.select-style2 select {
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select-style select:focus {
    outline: none;
}
.mr-r{
	margin-right: 5px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.container_1 > p >[type="checkbox"]:not(:checked) + label,
.container_1 > p >[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before{
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 17px; height: 17px;
	border: none;
	background: none;
	border-radius: none;
	box-shadow: none
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  border:none;
  background: none;
  color: #0177d7;
  transition: all .2s;
  box-shadow: none;
}
/*label:hover:after{
	border: none;
}*/
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;

}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
  
}
[type="checkbox"]:disabled + label {
  color: #aaa;

}
.wrapperrr{
	background-color: #f1f3f6;
	width: 100%;
	height:100%;
	position: fixed;
	z-index: -1;
}

.wrapperr{
	background-color: #f1f3f6;
	width: 100%;
	/*height:500px;*/
}	
.navigator{
	height: 52px;
	background-color:#0177d7;

}
/*.navigat li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}*/
.navigat{
    /*display: flex;
    align-items: center;*/
    display: inline-block;
    vertical-align: middle;

}
.navigat2{
	/*display: flex;
	align-items: center;*/
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.navigat2 > li{
    /*float: right;*/
    display: inline-block;
    vertical-align: middle;


}
.navigat > li > a{
	color: white;
	font-family: HeliosCond;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	/*height: 52px;*/
}
.navigat2 > li > a{
	color: #f0f545;
	font-family: HeliosCond;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	text-transform: none;
	padding: 13px 12px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	/*height: 47px;*/
}
.navigat > li > a > img{
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
.navigat2 > li > a > img{
	margin-right: 7px;
	display: inline-block;
	vertical-align: middle;
}
.navigat > li{
	margin: 0 -2px;
	display: inline-block;
	vertical-align: middle;
}
.navigat > li,.navigat > li a{
	height: 52px;
}
.start_nav > a > img{
	width: 25px;
	height: 27px;
}
.navigat li > a > p{
	padding-top: 3px;
}
.navigat li > a:hover,
.navigat li > a:active,
.navigat li > a:focus{
	background-color: #0093e4 !important;
}
.navbar-toggle .icon-bar{
	background-color:#fffd3c;
}
.toggle_nav{
	float: left;
	width: 44px;
	height: 34px;
}
.droper .dropdown-menu{
	top: 50px;
	position: static;
	left: 0; 
	z-index: 1; 
	/*display: none;*/
	float: none; 
	min-width: 160px; 
	padding: 0; 
	margin: 0; 
	font-size: 14px; 
	text-align: none; 
	list-style: none; 
	background-color: #0177d7; 
	background-clip: padding-box; 
	border: none; 
	border: none; 
	border-radius: none; 
	box-shadow: none; 
	
}

.navigator > .droper{
	display: inline-block;
}
.navigator > .droper > .dropdown-menu > li > a:hover,
.navigator > .droper > .dropdown-menu > li > a{
	background-color: #0177d7;
	color: white;
}
.navbar-toggle{
	/*display: block;*/
	margin-right: 0px;

}
.start_nav{
	border-left: 1px solid #0093e4;
}
.end_nav{
	border-left: 1px solid #0093e4;
}

.second_nav{
	height: 53px;
	width: 100%;
	background-color: #fff;
	padding: 13px 26px 10px 16px ;
	position: relative;
}
.db{
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;

}
.dib{
	display: inline-block;
	vertical-align: middle;
}
.konk{
	margin-right: 30px;

}
.money{
	width: 100px !important;
	height: 25px;
	color: #464544;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.cities_select a{
	font-family: HeliosCond;
	font-size: 24px;
	font-weight: 400;
	color: #0077d7;
}
.select_cities{
	line-height: 2px;
}
.cities{
	border-bottom: 1px dashed #0077d7;
}
.sities_dropdown{
	width: 415px;
	background-color: white;
	z-index: 500;
	position: absolute;
	left: 514px;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 13px 22px 13px 15px;
	display: none;
}
.accordeon_select_header{
	padding-bottom:5px;
}
.accordeon_select_header a{
	color: #333;
	font-family: HeliosCond;
	font-size: 18px;
	font-weight: 400;
	line-height: 17px;
	
}
.accordeon_select_header i{
	font-size: 15px;
	line-height: 3px;
}
.accordeon_select_body{
	padding-top: 5px;
	border-top: 2px solid #0077d7;
}
.accordeon_select_body{
	display: none;
}
.select_dropdown_wrap{
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	cursor: pointer;
	z-index: 400;
}
.width_33{
	width: 32.3%;
	display: inline-block;
	color: #0177d7;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
}
.btn_otchet{
	width: 200px;
	height: 25px;
	padding: 0;
	font-family: HeliosCond;
	font-size: 14px;
	text-transform: uppercase;
	float: right;
}
.btn_otchet img{
	margin-right: 20px;
}
.leftbar{
	width: 210px;
	background-color: #eeeeee;
}
.text_konk{
	font: 24px HeliosCond ;
}
.valuta{
	font: 16px Proxima Nova ;
}
.bootstrap-select>.dropdown-toggle{
	width: inherit;
}
.leftbar > .accordion > .accordion-group{
	min-height: 44px;
	padding:11px 7px 11px 9px;
	color: #545454;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	border: 1px solid #ccc;
	position: relative;


}
.leftbar > .accordion > .accordion-group a{
	color:#6c6c6c;
	text-decoration: none;
}
.leftbar > .accordion > .accordion-group .accordion-heading{
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
}
.faa{
	/*float: right;*/
	/*margin-right: 5px;*/
	display: inline-block;
}
.display-inline-block{
	display: inline-block;
}
.mar-left{
	margin-left:3px;
	margin-top: 2px;
}
.mini-btn{
	width: 21px;
	height:34px;
	background-color:#eeeeee;
	border: 1px solid #ccc; 
	position: absolute;
	top: -1px;
	right: -21px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.min-bt >.btn{
	padding: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.min-bt .btn img{
	margin: 11px 6px 5px 4px;
}
.save_select > .btn{
	height: 18px;
	width: 120px;
	padding: 0;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 12px;
}
.bcolor{
	background-color: #fff;
}
.leftbar > .accordion > .bcolor> .accordion-heading > a{
	color:#0177d7;
	margin-bottom: 10px;
}
.leftbar > .accordion > .bcolor> .accordion-heading > a >i{
	color:#6c6c6c;
}
.badge{
	margin-bottom: 2px;
	margin-left: 2px;
	background: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	color:#bababa;
	padding: 3px 2px;
	background-color: white;

}
.badge .spa{
	color:#777777;
}

.search{
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	font: 15px HeliosCond;
	padding-left: 11px;
	height: 25px;
	color: #b0b0b0;
	margin: 14px 0;
	background-color: #fafafa;
}
.search:focus{
	background-color: white;
}
.leftbar > .accordion > .accordion-group label{
	font:15px HeliosCond;
}

.accordion-inner > .checkform  p {
	margin: 3px 0;
}
.checkbox_settings{
 float: right;
 margin-top: 3px;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.margin_minus_right{
	margin-right: -10px;
}
.margin_minus_right2{
	margin-right: -5px;
}
.article_head{
	height: 54px;
	/*border: 1px solid #cccccc;*/

}
.accord_wrap_text{
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	color: #0077d7;
}
.accord_wrap_text > span{
	color: #6b6c6c;
}
.accordion-toggle{
	text-decoration: none;
	color: #0077d7;
}
.accord_wrap2{
	float: right;
	color: #6b6c6c;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}
.fa-clock-o{
	font-size:12px !important;
}
.date_o{
	color: #0177d7;
}
.down_fa{
	color: #b2b4b4;
	font-size: 19px !important;
	margin-bottom: 3px;
	margin-right: 7px;
	margin-left: 9px;
}
.accordion-heading_bord{
	border: 1px solid ;
	background-color: #f7f9fa;
	border: 1px solid #ccc;
	height: 45px;
	padding: 11px 10px 14px 8px;
	position: relative;
}
.dib > .fa-clock-o {
	margin-left: 3px;
}
.calc{
	width: calc(100% - 224px);
	float: right;
	padding-right: 22px;
	padding-left: 10px;

}

.calc_on{
	width: calc(100% - 224px) !important;
}
.whiteble{
	/*background-color: #fff;*/
	color: #0077f2;
	font-family: HeliosCond;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	margin-left: -8px;
	border-color: #f1f3f6;
	width: 100%;

}
.whiteble th,td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;
	text-align: center;
	color: #444;

}
.testtt{
	position: fixed !important;
	margin-left: 224px;

}
.testtt2{
	position: absolute !important;
	margin-left: 0;

}
.bordr > th ,td{
	border-bottom:1px solid #f1f3f6;;
}
.whiteble tr{
	
}	
.first_ths{
	padding-left: 5px;
	color: #0077f2 !important;
	background-color: #fff;
}
.first_tr_active{
	border-bottom: 2px solid #0177d7;
}

.active_table{
	height: 60px;
}
.conc{
	background-color: #fcc;
	border-right: 1px solid #f1f3f6;
}
.first_ths_gray{
	padding-left: 5px;
	color: #516374;
	font-family: HeliosCond;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	background-color: #f7f9fa;
	padding-bottom: 10px;
	text-align: left !important;
}
.second_th_gray{
	color: #516374;
	font-family: HeliosCond;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	background-color: #f7f9fa;
}
.th_id_gray{
	color: #516374;
	font-family: HeliosCond;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	background-color: #f7f9fa;
	text-align: center;
}
.rozn{
	font-weight: bold;
	color: #444;
	background-color: #fff;
}
.sebest{
	background-color: #fff;
}
.th_id{
	color: #999 !important;
	background-color: #fff;
}
.second_th{
	max-width: 21px;
	width: 21px;
	background-color: #fff;

}
.but{
	background-color: #fff;
}
.kins{
	color: #121212 !important;
	background-color: moccasin;
	border-right: 1px solid #f1f3f6;
}
.app{
	background-color: #bfffbf;
	border-right: 1px solid #f1f3f6;
}
table .btn{
	margin-top: 2px;
    height: 18px;
    padding: 0 6px;
    margin-bottom: 0;
    color: #121212;
    font-family: HeliosCond;
    font-size: 10px;
    font-weight: 400;
    /* line-height: 12px; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;

}
.active_tovar{
	margin-top: -17px;
}
a:hover, a:focus{
	text-decoration: none;
}
.pollSlider{
	position: absolute;
    height:100%;
    left:0px;
    margin-left: 0px;
}
#pollSlider-button{
	z-index: 3;
}
.btn_cena{
	width: 24px;
    height: 20px;
    padding: 0;
    margin-top: 1px;
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    bottom: 3px;
	right: 96px;
	background: none;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.btn_vse_ceni{
	width: 80px;
	height: 20px;
	background-color: #0177d7 !important;
	border-radius: 5px;
    height: 19px;
    padding: 0;
    margin-top: 1px;
    z-index: 3;
    position: absolute;
    bottom: 4px;
	right: 11px;
	background: none;
	color: #f7f9fa;
	font-family: HeliosCond;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	padding-bottom: 2px;
} 
.knopki{
	display: none;
}
.active_knopki{
	display:block;

}
.btn_vse_ceni p{
	display: inline-block;
	padding: 0 7px 3px 0;
}

.btn_vse_ceni i{
	font-size: 16px
}

.btn_vse_ceni:hover,
.btn_vse_ceni:focus
{
	color: #f7f9fa;
}
.img_dib{
	width: 26px;
	text-align:center;
}
.accord_wrap_text{
	margin-left: 10px;
}
.date_select {
	width: 66.4%;
	height: 30px;
	margin: 7px 0 0 20px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #c8edfc;
	color: #6b6c6c;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	padding-top: 4px;
	padding-left: 12px;
}
.date_select > .select_dib{
	margin-right: 3px;
	color: #0093dd;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	
}
.select_dib > select{
	border: none;
	
}

.date_select_popup {
	width: 99.5%;
	height: 30px;
	margin: 7px 0 22px 3px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #c8edfc;
	color: #6b6c6c;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	padding-top: 4px;
	padding-left: 12px;
}
.date_select_popup > .select_dib{
	margin-right: 3px;
	color: #0093dd;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	
}
.select_dib > select{
	border: none;
	
}
.margin_ru{
	margin-right: 5px;
}
.date_search{
	width: 100%;
	height: 30px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #444;
	font-family: HeliosCond;
	font-size: 16px;
	font-weight: 400;
	margin-top: 7px;
	padding-left: 11px;
	padding-right: 41px;
}
.date_search:focus{
	background-color: white;
}
.date_search_form{
	width: 30.5%;
	float: right;
	position: relative;
}
.search_btn{
	padding: 0;
	position: absolute;
	top: 13px;
	right: 6px;
	height: 18px;
	width: 18px;
	background: none;
	border: none;
}
.search_btn:focus,
.search_btn:active,
.search_btn:hover,
.search_btn:after,
.search_btn:before,
.search_btn:visited{
	border: none;
}
.scroller__bar { /* The bar. You should define width, right and background */
    position: absolute;
    right: 0;    
    z-index: 1;
    width: 10px;
    background: #999;
}
.scroller__bar_h {
    bottom: 2px;
    height: 8px;
}
.wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 210px;
    height:450px;
    margin: 0 -10px;
}

.wrapper2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:100% !important ;
    max-height:100% !important ;
    min-height:100% !important ;
    /*margin: 0 -10px;*/
}
.scroller::-webkit-scrollbar,
.scroller::-moz-scrollbar
 {
    width: 0;
}
.scroller {
    overflow: hidden !important;
    height: 100%;
    overflow-y: scroll;
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;
    /* uncomment to accelerate scrolling on iOs */
}
.scroller2 {
    height: 100%;
    overflow-y: scroll;
    padding: 0 10px;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
}
.scroller::-webkit-scrollbar,
.scroller::-moz-scrollbar,
.scroller2::-webkit-scrollbar,
.scroller2::-moz-scrollbar {
    width: 0;
    height: 0;
}
.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 10px;
    bottom: 10px;
    right: 5px;
    width: 6px;
    border-radius: 5px;
    background-color: white !important;
    pointer-events: none;

}
.scroller__bar {
    position: absolute;
    z-index: 1;
    width: 6px;
    border-radius: 3px;
    background: #987;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    pointer-events: auto;
}
.scroller__bar:hover {
    opacity: .8;
}
.baron .scroller__bar {
    opacity: .6;
}
.baron_h .scroller__bar_h {
    opacity: .6;
    bottom: 5px;
}
.popup_wrap, .popup {
	display: none;
}
.popup_wrap {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	cursor: pointer;
}
.popup {
	position: absolute;
	width: 930px;
	background-color: white;
	border-radius: 9px;
	left: 50%;
	margin-left: -470px;
	z-index: 99999999999;
	top: 40%;
	margin-top: -200px;
	padding: 34px 31px 18px 24px;
}
.download_otchet_wrapper{
	margin-bottom: 28px;
}
.download_otchet{
	width: 32.5%;
	height: 45px;
	background-color: #e5f7fd;
	border: 1px solid #77d5f7;
	border-radius: 3px;
	padding-top: 6px;
	padding-left: 6px;
	margin: 0 0 0 4px;
}
.download_otchet_wrapper p{
	margin-left: 40px;

}
.download_otchet_wrapper img{
	float: left;
}
.download_otchet_wrapper a{
	color: #0177d7;
	font-family: HeliosCond;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.close_popup{
	position: absolute;
	top: 15px;
	right: 14px;
}
.h2_popup h2{
	color: #666;
	font-family: HeliosCond;
	font-size: 19px;
	font-weight: 400;
	line-height: 23px;
	margin-left: 3px;
}
.h2_popup_email{
	margin-top: 11px;
	margin-bottom: 14px;
}
.h2_popup_email h2{
	color: #666;
	font-family: HeliosCond;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.select_popup_wrapper{

}
.select_popup_wrapper_in{
	width: 32.5%;
	margin: 0 0 0 4px;
}
.select_popup_wrapper_in > p{
	color: #9d9fa1;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin-left: 3px;
	margin-bottom: 4px;
}
.select_popup_group{
	
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding:4px 4px 2px 4px;
	min-height: 35px;
	
}
.select_popup{
	display: inline-block;
	height: 25px;
	background-color: #f9f9f9;
	border: 1px solid #77d5f7;
	border-radius: 2px;
	margin-bottom: 2px;
}
.select_popup > p{
	display: inline-block;
	color: #475a6d;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	padding:2px 8px 0 8px ;
}
.select_popup img{
	display: inline-block;
	margin:0 6px 0 0 ;
}
.dib_top{
	display: inline-block;
	vertical-align: top;
}
.popup_check_box_wrapper{
	margin-top:15px;
	padding-left: 8px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e4e5e7;
}
.popup_check_box_wrapper p{
	width: 170px;
	padding-right: 20px;
	color: #9d9fa2;
	font-family: HeliosCond;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	display: inline-block;
	margin-bottom: 11px;
}
.btn_form_otchet{
	width: 180px;
	height: 29px;
	background-color: #0177d7;
	border-radius: 4px;
	padding: 0;
	color: white;
	font-family: HeliosCond;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.btn_form_otchet:hover,
.btn_form_otchet:focus,
.btn_form_otchet:active{
	color: white;
}
.buttons_form{
	margin-top: 11px ;
	margin-left: -4px;
}
.btn_form_filters{
	background-color: #c7edfc;
	border: 1px solid #77d5f7;
	border-radius: 4px;
	padding: 0;
	color: #0092dd;
	font-family: HeliosCond;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	width: 190px;
	height: 25px;
	margin-left: 6px;
	padding-top: 2px;
}
.btn_form_filters:hover,
.btn_form_filters:focus,
.btn_form_filters:active{
	color: #0092dd;
}
.email_input{
	width: 330px;
	height: 27px;
	background-color: #f9f9f9;
	border: 1px solid #77d5f7;
	border-radius: 2px;
	padding-left: 10px;
}
.select-style_form {
	line-height: 12px;
    padding: 0;
    margin: 0;
    border: 1px solid #77d5f7;
    width: 170px;
    height: 27px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #f9f9f9;
    color: #464544;
    font-family: HeliosCond;
    font-size: 15px;
    font-weight: 400;
    background: #fff url('../img/select_arrow.png') no-repeat 95% 50%;
}

.select-style_form select {
    padding: 5px 3px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style_form select:focus {
    outline: none;
}
.select-style_time {
    padding: 0;
    color: #464544;
    font-family: HeliosCond;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    border: 1px solid #77d5f7;
    width: 70px;
    height: 27px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #f9f9f9;

    background: #fff url('../img/select_arrow.png') no-repeat 90% 50%;
}

.select-style_time select {
    padding: 4px 3px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style_time select:focus {
    outline: none;
}
.select-style_format {
    padding: 0;
    margin: 0;
    color: #464544;
    font-family: HeliosCond;
    font-size: 15px;
    font-weight: 400;
    width: 250px;
    height: 27px;
    background-color: #f9f9f9;
    border: 1px solid #77d5f7;
    border-radius: 2px;
   
    overflow: hidden;
    

    background: #fff url('../img/select_arrow.png') no-repeat 98% 50%;;
}

.select-style_format select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style_format select:focus {
    outline: none;
}
.btn_clear_email{
	width: 27px;
	height: 27px;
	background-color: #e5f7fd;
	border: 1px solid #77d5f7;
	border-radius: 4px;
	padding: 3px 0 0 0px;
}
.mr-2r{
	margin-right: 3px;
}
.btn_save{
	width: 110px;
	height: 29px;
	background-color: #0177d7;
	border-radius: 4px;
	padding: 0;
	color: white;
	font-family: HeliosCond;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.btn_save:hover,
.btn_save:focus,
.btn_save:active{
	color: white;
}
.buttons_form_end{
	margin-top: 6px;
}
.btn_add:hover,
.btn_add:focus,
.btn_add:active{
	color: #0092dd;
	background-image: url('../img/add_img.png');
	background-repeat: no-repeat;
	background-position: 7% 47%;
}
.btn_add{
	padding: 0;
	width: 110px;
	height: 25px;
	background-color: #e5f7fd;
	border: 1px solid #77d5f7;
	border-radius: 4px;
	color: #0092dd;
	font-family: HeliosCond;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	background-image: url('../img/add_img.png');
	background-repeat: no-repeat;
	background-position: 7% 47%;

}
.activity .accord_wrap_text,.activity span{
	color: black !important;
}
.active_border{
	border-bottom: 2px solid #0177d7 !important;
}
.disabled{
background-color: #f9f9f9;
padding-bottom: 3px;
padding-left: 3px;
margin-right: 6px !important ;
margin-left: -3px !important;
}
.container_1 > p{
	color: black;
}



/*img/basket.png
img/price.png
img/competitor.png
img/statistic.png
img/help.png*/

@media screen and (min-width:1200px) {
	.visibl{
		display: block;
	}
	.visibl2{
		display: none;
	}
}
@media screen and (max-width:1199px) {
	.visibl{
		display: none;
	}
	.visibl2{
		display: block;
	}
	.menu_hide{
		display: none
	}
	.navigat > li > a > img{
		margin-right: 0;
	}
	.menu_marg{
		padding:10px 24.1px !important;
	}
	/*.droper > .dropdown-menu {
	    position: absolute;
	    top: 50px;
	    left: 0;
	    z-index: 1000;
	    display: none;
	    float: left;
	    min-width: 160px; 
	    padding: 0; 
	    margin: 0; 
	    font-size: 14px; 
	    text-align: none; 
	    list-style: none; 
	    background-color: #0177d7; 
	    background-clip: padding-box; 
	    border: none; 
	    border: none; 
	    border-radius: none; 
	    box-shadow: none; 
	}
	.open > .dropdown-menu{
		display: block !important;
	}*/
}
